<div class="container">
  <div class="row">
    <div class="col-sm-12 text-center">
      <h1>Listado Pokemon</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <ul class="list-group">
        <li class="list-group-item active">Active item</li>
        <li class="list-group-item">Item</li>
        <li class="list-group-item">Item</li>
        <li class="list-group-item">Item</li>
        <li class="list-group-item">Item</li>
      </ul>
    </div>
    <div class="col-sm-8">
      <div class="card text-white">
        <img class="card-img-top" src="https://picsum.photos/id/1025/600/400" alt="">
        <div class="card-body">
          <h4 class="card-title">Title</h4>
          <p class="card-text">Text</p>
        </div>
      </div>
    </div>
  </div>
</div>
